<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oneredbox - Login to your account</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body class="loginpage">

    <div class="backdrop">
      <nav class="sideNav">
        <a href="/"
          ><img src="../static/images/Oneredbox-white.png" alt="" class="logoImage"
        /></a>
      </nav>
      <div class="box">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body text-center">
                          {% for message in messages %}
                          <p>{{ message }}</p>
                          {% endfor %}
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
          {% endwith %}
        <div class="form">
          <form class="signin-form" action="#" method="POST">
            <h3>LOG IN</h3>
            <div class="inputbox">
              <input type="email" name="loginMail" required />
              <span>E-mail</span>
              <i></i>
            </div>
            <div class="inputbox">
              <input type="password" name="inputPass" required />
              <span>Password</span>
              <i></i>
            </div>
            <div class="links">
              <a href="/signup" id="goToSignUp">Sign up</a>
              <a href="/forgot-password" id="resetPass">Forgot Password</a>
            </div>
            <button type="submit" href="#" id="loginButton"><b>LOG IN</b></button>
          </form>
        </div>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
