<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>Header with Login Button</title>
  </head>
  <body>
    <div class="signinbtn">
      <a href="/login">Login</a>
    </div>

    <nav class="sideNav">
      <a href="/"
        ><img src="../static/images/Oneredbox-white.png" alt="" class="logoImage"
      /></a>
    </nav>

    <div class="container">
      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Designs</h1>

          <img class="mainImage" src="../static/images/designs/3.jpg" alt="not found 1" />
          <div class="descriptions">
            <div class="scope">
              <span style="--i: 1"
                ><img src="../static/images/designs/2.jpg" alt="not found 2"
              /></span>
              <span style="--i: 2"
                ><img src="../static/images/designs/1.jpg" alt="not found 3"
              /></span>
              <span style="--i: 3"
                ><img src="../static/images/designs/4.jpg" alt="not found 4"
              /></span>
              <span style="--i: 4"
                ><img src="../static/images/designs/5.jpg" alt="not found 5"
              /></span>
              <span style="--i: 5"
                ><img src="../static/images/designs/6.jpg" alt="not found 6"
              /></span>
              <span style="--i: 6"
                ><img src="../static/images/designs/7.PNG" alt="not found 6"
              /></span>
              <span style="--i: 7"
                ><img src="../static/images/designs/15.jpg" alt="not found 7"
              /></span>
              <span style="--i: 8"
                ><img src="../static/images/designs/16.JPG" alt="not found 8"
              /></span>
              <span style="--i: 9"
                ><img src="../static/images/designs/17.jpg" alt="not found 9"
              /></span>
              <span style="--i: 10"
                ><img src="../static/images/designs/18.PNG" alt="not found 10"
              /></span>
            </div>
          </div>
        </div>
      </section>

      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Construction</h1>

          <img class="mainImage" src="../static/images/construction/2.jpeg" alt="" />
          <div class="descriptions">
            <div class="scope">
              <span style="--i: 1"
                ><img src="../static/images/construction/1.jpg" alt="not found"
              /></span>
              <span style="--i: 2"
                ><img src="../static/images/construction/3.jpeg" alt="not found"
              /></span>
              <span style="--i: 3"
                ><img src="../static/images/construction/4.jpeg" alt="not found"
              /></span>
              <span style="--i: 4"
                ><img src="../static/images/construction/5.jpeg" alt="not found"
              /></span>
              <span style="--i: 5"
                ><img src="../static/images/construction/6.jpeg" alt="not found"
              /></span>
              <span style="--i: 6"
                ><img src="../static/images/construction/7.jpeg" alt="not found"
              /></span>
              <span style="--i: 7"
                ><img src="../static/images/construction/8.jpeg" alt="not found"
              /></span>
              <span style="--i: 8"
                ><img src="../static/images/construction/9.jpeg" alt="not found"
              /></span>
            </div>
          </div>
        </div>
      </section>

      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Interiors</h1>

          <img class="mainImage" src="../static/images/interiors/3.jpeg" alt="" />
          <div class="descriptions">
            <div class="scope">
              <span style="--i: 1"
                ><img src="../static/images/interiors/2.jpeg" alt="not found"
              /></span>
              <span style="--i: 2"
                ><img src="../static/images/interiors/1.jpeg" alt="not found"
              /></span>
              <span style="--i: 3"
                ><img src="../static/images/interiors/4.jpeg" alt="not found"
              /></span>
              <span style="--i: 4"
                ><img src="../static/images/interiors/5.jpeg" alt="not found"
              /></span>
              <span style="--i: 5"
                ><img src="../static/images/interiors/6.jpeg" alt="not found"
              /></span>
              <span style="--i: 6"
                ><img src="../static/images/interiors/7.jpeg" alt="not found"
              /></span>
              <span style="--i: 7"
                ><img src="../static/images/interiors/8.jpeg" alt="not found"
              /></span>
              <span style="--i: 8"
                ><img src="../static/images/interiors/9.jpeg" alt="not found"
              /></span>
            </div>
          </div>
        </div>
      </section>

      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Renovations</h1>

          <img class="mainImage" src="../static/images/renovations/2.jpeg" alt="" />
          <div class="descriptions">
            <div id="scope">
              <span style="--i: 1"
                ><img src="../static/images/renovations/1.jpeg" alt="not found"
              /></span>
              <span style="--i: 2"
                ><img src="/static/images/renovations/2.jpeg" alt="not found"
              /></span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
