{% extends 'base.html'%}

{% block title %}
<title>Oneredbox.ng - Our Projects</title>
{% endblock %}

<body id="projectpage">
    {% block content %}
        <section>
            <div class="img-slider">
                <div class="slide active">
                    <img class = "imageGallery" src="{{url_for('static', filename = '/images/Living_room_stairs.jpg')}}" alt="">
                    <div class = "info">
                        <h2>Featured Construction project</h2>
                        <p>
                            Floating staircase design for one of our clients in a residential building.
                            Showcasing construction prowess and out of the box design.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img class = "imageGallery" src="{{url_for('static', filename = '/images/Exterior_cantilever.jpg')}}" alt="">
                    <div class = "info">
                        <h2>Featured Construction project</h2>
                        <p>
                            Structurally sound exterior showing almost 3meter cantilever.
                            Displaying the art of balance and imagination in construction projects
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img class = "imageGallery" src="{{url_for('static', filename = '/images/Kitchen_cabinets.jpg')}}" alt="">
                    <div class="info">
                        <h2>Featured Construction project</h2>
                        <p>
                            High quality kitchen cabinet finishes. Lined up to inch perfection.
                            Showcasing our attention to detail and ability to produce quality.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img class = "imageGallery" src="{{url_for('static', filename = '/images/A_bedroom.jpg')}}" alt="">
                    <div class="info">
                        <h2>Featured Construction project</h2>
                        <p>
                            One of the bedrooms showing high quality tiles, doors and window set up.
                            Showcasing our ability to provide quality to our clients.

                        </p>
                    </div>
                </div>
                <div class = "navigation">
                    <div class = "btn active"></div>
                    <div class = "btn"></div>
                    <div class = "btn"></div>
                    <div class = "btn"></div>
                </div>
            </div>
        </section>
    {% endblock %}
</body>
</html>