<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>Header with Login Button</title>
  </head>
  <body>
    <!-- <header>
        <img src="../static/images/Oneredbox-white.png" alt="" class="image-small">
        <nav class="sideNav">
            <a href="/"><img src="../static/images/Oneredbox-white.png" alt="" class="logoImage"></a>
            <h2 class="logo"><a href="/" style="display: none;">Oneredbox<span class="ng">.ng</span></a></h2>
            <ul>
                <li><a href="/#construction"><img src="../static/images/construction-64.png" alt="" class="white_circle"> </div></a></li>
                <li><a href="/#tinyhouse"><img src="../static/images/house-64.png" alt="" class="white_circle"></div></a></li>
                <li><a href="/#projects"><img src="../static/images/icons8-clipboard-64.png" alt="" class="white_circle"></div></a></li>
            </ul>
        </nav>
        <div class="signinbtn">
            <a href="/login">Login</a>
        </div>
    </header> -->
    <div class="signinbtn">
      <a href="/login">Login</a>
    </div>
    <nav class="sideNav">
      <a href="/"
        ><img src="../static/images/Oneredbox-white.png" alt="" class="logoImage"
      /></a>

      <!-- <h2 class="logo"><a href="/" style="display: none;">Oneredbox<span class="ng">.ng</span></a></h2> -->
      <!-- <ul>
                  <li><a href="/#construction"><img src="../static/images/construction-64.png" alt="" class="white_circle"> </div></a></li>
                  <li><a href="/#tinyhouse"><img src="../static/images/house-64.png" alt="" class="white_circle"></div></a></li>
                  <li><a href="/#projects"><img src="../static/images/icons8-clipboard-64.png" alt="" class="white_circle"></div></a></li>
              </ul> -->
    </nav>
    <div class="container">
      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Designs</h1>

          <img class="mainImage" src="../static/images/designs/1.jpg" alt="" />
          <div class="descriptions">
            <div class="scope">
              <span style="--i: 1"
                ><img src="../static/images/designs/2.jpg" alt="not found"
              /></span>
              <span style="--i: 2"
                ><img src="../static/images/designs/3.jpg" alt="not found"
              /></span>
              <span style="--i: 3"
                ><img src="../static/images/designs/4.jpg" alt="not found"
              /></span>
              <span style="--i: 4"
                ><img src="../static/images/designs/5.jpg" alt="not found"
              /></span>
              <span style="--i: 5"
                ><img src="../static/images/designs/6.jpg" alt="not found"
              /></span>
              <span style="--i: 6"
                ><img src="../static/images/designs/7.png" alt="not found"
              /></span>
              <span style="--i: 7"
                ><img src="../static/images/designs/8.jpg" alt="not found"
              /></span>
              <span style="--i: 8"
                ><img src="../static/images/designs/10.jpg" alt="not found"
              /></span>
            </div>
          </div>
        </div>
      </section>

      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Construction</h1>

          <img class="mainImage" src="../static/images/construction/2.jpeg" alt="" />
          <div class="descriptions">
            <div class="scope">
              <span style="--i: 1"
                ><img src="../static/images/construction/1.jpg" alt="not found"
              /></span>
              <span style="--i: 2"
                ><img src="../static/images/construction/3.jpeg" alt="not found"
              /></span>
              <span style="--i: 3"
                ><img src="../static/images/construction/4.jpeg" alt="not found"
              /></span>
              <span style="--i: 4"
                ><img src="../static/images/construction/5.jpeg" alt="not found"
              /></span>
              <span style="--i: 5"
                ><img src="../static/images/construction/6.jpeg" alt="not found"
              /></span>
              <span style="--i: 6"
                ><img src="../static/images/construction/7.jpeg" alt="not found"
              /></span>
              <span style="--i: 7"
                ><img src="../static/images/construction/8.jpeg" alt="not found"
              /></span>
              <span style="--i: 8"
                ><img src="../static/images/construction/9.jpeg" alt="not found"
              /></span>
            </div>
          </div>
        </div>
      </section>

      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Interiors</h1>

          <img class="mainImage" src="../static/images/interiors/3.jpeg" alt="" />
          <div class="descriptions">
            <div class="scope">
              <span style="--i: 1"
                ><img src="../static/images/interiors/2.jpeg" alt="not found"
              /></span>
              <span style="--i: 2"
                ><img src="../static/images/interiors/1.jpeg" alt="not found"
              /></span>
              <span style="--i: 3"
                ><img src="../static/images/interiors/4.jpeg" alt="not found"
              /></span>
              <span style="--i: 4"
                ><img src="../static/images/interiors/5.jpeg" alt="not found"
              /></span>
              <span style="--i: 5"
                ><img src="../static/images/interiors/6.jpeg" alt="not found"
              /></span>
              <span style="--i: 6"
                ><img src="../static/images/interiors/7.jpeg" alt="not found"
              /></span>
              <span style="--i: 7"
                ><img src="../static/images/interiors/8.jpeg" alt="not found"
              /></span>
              <span style="--i: 8"
                ><img src="../static/images/interiors/9.jpeg" alt="not found"
              /></span>
            </div>
          </div>
        </div>
      </section>

      <section id="construction" class="section">
        <div class="maincontent">
          <h1 class="headingText">Renovations</h1>

          <img class="mainImage" src="../static/images/renovations/3.jpeg" alt="" />
          <div class="descriptions">
            <div id="scope">
              <span style="--i: 1"
                ><img src="../static/images/renovations/1.jpeg" alt="not found"
              /></span>
              <span style="--i: 2"
                ><img src="/static/images/renovations/2.jpeg" alt="not found"
              /></span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
