
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>Oneredbox - Sign up</title>
    </head>

    <body id="signuppage" class="loginpage">
        <nav class="sideNav">
            <a href="/"
            ><img src="../static/images/Oneredbox-white.png" alt="" class="logoImage"
            /></a>
        </nav>
        <section>
            <div class=" box">
                <div class="form">
                    <div>
                    <span class="icon"><i class="fas fa-home"></i></span>
                    </div>
                    <!-- GET requests are not safe. POST requests are safer, don't appear in the browser line and cannot be cached -->
                    <form action="#" method="POST">
                        <h2 class="finances">Sign up</h2>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flashes" style="list-style-type: none;">
                                {% for message in messages %}
                                    <li class="passwarning">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                        <div class="inputbox">
                            <input type="text" name="firstName" required>
                            <span>First name</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" name="lastName" required>
                            <span>Last Name</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="email" name="email" required>
                            <span>Email Address</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="date" name="dOB" required>
                            <span>Date of Birth</span>
                            <i></i>
                        </div>
                        <div class="inputbox" >
                            <input type="password" name="uPass" id="createPass" required>
                            <span>Password</span>
                            <i></i>
                        </div>
                        <div>
                            <button type="button" id="togglePassword">view</button>
                            <span class="passwarning" id="passwarning" style="display:none">must contain numbers, special characters, <br>upper case and lower case characters</span>
                        </div>
                        <div class="inputbox">
                            <input type="password" name="uCpass" id="confirmPass" required>
                            <span>Confrim Password</span>
                            <i></i>
                        </div>
                        <div>
                            <span class="passwarning" id="confirm_passwarning" style="display:none">Passwords must match</span>
                        </div>
                        <div class="links" id="login">
                            <a href="/login">Login</a>
                        </div>
                        <div class="card_terms">
                            <input type="checkbox" name="" id="terms"> <span>I have read and agree to the <a href="{{ url_for('terms') }}" target="_blank">Terms of Service</a></span>
                        </div>
                        <button type="submit" href="#" class="formBtn" id="mainSignupButton" disabled>SIGN UP</button> 
                    </div>
                        <span class="icon"><i class="fas fa-home"></i></span>
                    </form>
                </div>
            </div>
        </section>
        <script src="/static/js/script.js"></script>
    </body>
</html>